@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:  url("../fonts/livvic-v11-latin-regular.woff2") format("woff2"), 
       url("../fonts/livvic-v11-latin-regular.woff") format("woff"); 
}
@font-face {
  font-family: "Livvic";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:  url("../fonts/livvic-v11-latin-italic.woff2") format("woff2"), 
       url("../fonts/livvic-v11-latin-italic.woff") format("woff"); 
}
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:  url("../fonts/livvic-v11-latin-600.woff2") format("woff2"), 
       url("../fonts/livvic-v11-latin-600.woff") format("woff"); 
}
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:  url("../fonts/livvic-v11-latin-700.woff2") format("woff2"),
       url("../fonts/livvic-v11-latin-700.woff") format("woff"); 
}



*{
  box-sizing: border-box;
}
body{
  font-family: "Livvic", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}
.container {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

.header-wrapper {
  background-color: #014E56;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.logo-navbar {
  display: flex;
  align-items: center;
}

.logo-link {
  display: inline-block;
}

.logo-img {
  display: block;
  width: 160px;
  height: 40px;
}

.navbar {
  margin-left: 80px;
}

.nav-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item ~ .nav-item {
  margin-left: 40px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
}

.header-btn {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 33px;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
}




.hero-wrapper {
  background-color:#014E56;
  background-image: url(../img/bg-img-1.png), url(../img/bg-img-2.png);
  background-repeat: no-repeat;
  background-position-x: calc(50% - 720px), calc(50% + 370px);
  background-position-y: 129px, 480px;
  padding-top: 129px;
  padding-bottom: 250px;
}

.hero-inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.hero-heading {
  width: 550px;
  font-size: 100px;
  line-height: 100px;
  color:#ffffff;
  margin: 0;
}

.hero-heading--pink {
  color: #F67E7E;
}

.hero-text {
  color: #ffffff;
  width: 445px;
  margin: 0;
}
.hero-text:before{
  display: block;
  position: relative;
  bottom: 79px;
  width: 50px;
  height: 4px;
  background-color:#79C8C7;
  content: "";

}


/* SERVICES */
.services-wrapper {
  background-color: #012F34;
  background-image: url(../img/bg-img-3.png);
  background-repeat: no-repeat;
  background-position-x:calc(50% + 730px);
  background-position-y:calc(50% + 225px);
  padding-top: 194px;
  padding-bottom: 140px;
}

.services-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.services-heading {
  width: 445px;
  font-size: 48px;
  line-height: 48px;
  color:#ffffff;
  margin: 0;
}

.services-heading::before{
  display: block;
  position: relative;
  bottom: 54px;
  width: 50px;
  height: 4px;
  background-color:#F67E7E;
  content: "";
}

.services-list {
  width: 445px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 125px;
}

.services-item{
  position: relative;
}

.services-item ~ .services-item {
  margin-top: 32px;
}

.services-item:nth-child(1):before{
  position: absolute;
  left: -100px;
  display: inline-block;
  width: 72px;
  height: 72px;
  background-image:url(../img/service-img-1.png);
  content: "";
}

.services-item:nth-child(2):before{
  position: absolute;
  left: -100px;
  display: inline-block;
  width: 72px;
  height: 72px;
  background-image:url(../img/service-img-2.png);
  content: "";
}

.services-item:nth-child(3):before{
  position: absolute;
  left: -100px;
  display: inline-block;
  width: 72px;
  height: 72px;
  background-image:url(../img/service-img-3.png);
  content: "";
}

.services-item-heading {
  color:#F67E7E;
  margin: 0;
  margin-bottom: 16px;
}

.services-item-text {
  font-size: 15px;
  color:#ffffff;
  opacity:0.8;
  margin: 0;
}